extends ../shared/template

block content
  .row
    .small-6.columns

      form(action='/login', method='post', enctype='multipart/form-data')
        fieldset
          legend Sign In
          .row
            .small-12.columns
              label Email Address
              input(type='email' name='email' required placeholder='person@example.com')
              label Password
              input(type='password' name='password' required placeholder='password')
          .row
            .small-6.columns
              button.small.radius Login
            .small-6.columns
              h3= error
    .small-6.columns

      form(action='/register', method='post', enctype='multipart/form-data')
        fieldset
          legend Create Account
          .row
            .small-12.columns
              label Email Address
              input(type='text' name='email' required placeholder='person@example.com')
              label Password
              input(type='password' name='password' required placeholder='password')
          .row
            .small-6.columns
              button.small.radius Register
            .small-6.columns

